@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
// import boostrap icons
//@import "../node_modules/bootstrap-icons/icons/";



$primary: #f9d950;
$secondary: #212e46;
$success: #dddddd; 

@import "../node_modules/bootstrap/scss/bootstrap";
