@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
// import boostrap icons
//@import "../node_modules/bootstrap-icons/icons/";



$primary: #f9d950;
$secondary: #212e46;
$success: #dddddd; 

@import "/lockey/node_modules/bootstrap/scss/bootstrap";


body {
	font-family: 'Inter' !important;
	padding: 0px; 
	margin: 0px; 
}

.btn {
    padding-top: 20px;
    padding-bottom: 20px; 
    font-weight: bolder;  
    border-radius: 500px;  
    font-size: 50px;  
    letter-spacing: 2px
}

img{
    width: 70% !important;
    height: auto;
}


.error-activo{
	display: block;
}  