@import "../../node_modules/bootstrap/scss/mixins/banner";
// @include bsBanner("");

// Configuration
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #f9d950;
$secondary: #212e46;
$tertiary: #dddddd; 

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
// Create your own map
$custom-colors: (
  "tertiary": $tertiary,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Layout & components
// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/accordion";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/offcanvas";
@import "../../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack

// 8. Add additional custom code here
.flex-equal > * {flex: 1;}
@media (min-width: 768px) {
	.flex-md-equal > * {
		flex: 1;
	}
}

.nameUser{
	font-size: 20px;
	margin: 0;
	padding: 0;
	font-weight: bolder;
	margin-left: 2.5rem;
}

.space{
	margin-left: 5%;
	margin-right: 5%;
}

.title{
	margin-top: 0;
	margin-left: 20px;
	margin-right: 0;
	font-weight: bolder;
}

.bg-cover1 {
	position: relative;
	z-index: 1;
}
.bg-cover1::before {
	content: "";
	position: absolute;
	top: 0; left: 0;
	z-index: -1;
	width: 100%; height: 100%;
	background-image: url("/images/cover.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	filter: brightness(0.5) grayscale(0.4) blur(1px);
}

.error-activo{
	display: block;
}  

.wrapper{
	max-height: 240px;
	// border: 1px solid #dddddd;
	display: flex;
	overflow: auto;
	padding: 30px;
	background-color: $primary;
}

.wrapper::-webkit-scrollbar{
	width: 0;
}

.wrapper .item{
	min-width: 300px;
	height: 180px;
	// line-height: 120px;
	text-align: left;
	background-color: #ffffff;
	margin-right: 30px;
	border-radius: 30px;
	box-shadow: 2px 2px 12px #0000005e;
}

.wrapper .item:hover {
	box-shadow: 0 0 20px #785200;
}

.text-status{color: #0145c5; font-weight: bolder; font-size: 16px;}
  
.process {
	font-size: 24px;
	margin-top: 2rem;
}
  
.StepProgress {
	position: relative;
	padding-left: 50px;
	list-style: none;
	
	&::before {
	  display: inline-block;
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 15px;
	  width: 0px;
	  height: 100%;
	}
	
	&-item {
	  position: relative;
	  counter-increment: list;
	  
	  &:not(:last-child) {
		padding-bottom: 40px;
	  }
	  
	  &::before {
		display: inline-block;
		content: '';
		position: absolute;
		left: -20px;
		height: 100%;
		width: 10px;
	  }
	  
	  &::after {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
		left: -37px;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		// background-color: #FFF;
	  }
	  
	  &.is-done {
		&::before {
		  border-left: 10px solid $primary;
		}
		&::after {
		//   content: "✔";
		  font-size: 20px;
		  color: #FFF;
		  text-align: center;
		  border: 20px solid $primary;
		  background-color: $primary;
		}
	  }
	  
	  &.current {
		&::before {
		  border-left: 10px solid rgb(186, 186, 186);
		}
		
		&::after {
		//   content: counter(list);
		  padding-top: 1px;
		  width: 12px;
		  height: 12px;
		  top: 0px;
		  left: -37px;
		  font-size: 14px;
		  text-align: center;
		  border: 20px solid rgb(182, 182, 182);
		  background-color: white;
		}
	  }
	}
	strong {display: block; padding-left: 20px;}
	p {display: block; padding-left: 20px; margin: 0;}
  }

.detalles{
	padding-left: 1rem;
	font-weight: bolder;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.trayect{
	padding-left: 2rem;
	font-weight: bolder;
	background-color: #212e46;
	color: white;
}

.b-line::before{border-left: 0px!important}