extends layout

block content
  main
    p hola mundo
    <section id="Registro">
    <form action="">
        <label for="fname">Nombre:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="lname">Correo electronico:</label><br>
        <input type="text" id="lname" name="lname" value="Doe"><br><br>
        <label for="fname">Numero Celular:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="fname">Contraseña:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <label for="fname">Confirmacion de contraseña:</label><br>
        <input type="text" id="fname" name="fname" value="John"><br>
        <input type="submit" value="Submit">
    </form>

</section>