extends layout

block content
  main.col.align-items-center.p-5
    div.row.pb-5
      button.shadow.btn-lg.pri_color(type="button") RASTREAR ENVÍO  
    div.row.pb-5
      button.shadow.btn-lg.sec_color(type="button") INGRESAR
    div.row.pb-5
      button.shadow.btn-lg.alt_color(type="button") CREAR CUENTA
