extends layout

block content
  main.d-flex.align-items-center.p-5.justify-content-center.h-auto
    div
      .row.pb-5 
        img(src="/images/sendiit.png")
      .row.p-4
        .row.pb-5
          button.shadow.btn-lg.btn.btn-primary(type="button") RASTREAR ENVÍO  
        .row.pb-5
          button.shadow.btn-lg.btn.btn-secondary(type="button") INGRESAR
        .row.pb-5
          button.shadow.btn-lg.btn.btn-success(type="button") CREAR CUENTA
