extends layout_sign

block sign_block
	main
		p signup
		section#Registro
			form 
				div.FormularioGrupo#GrupoNombre
					label Nombre completo:
					div.FormularioInput
						input(type="text")
					p.FormularioError Error 
				div.FormularioGrupo#GrupoCelular
					label Numero de Celular:
					div.FormularioInput
						input(type="tel")
					p.FormularioError Error
				div.FormularioGrupo#GrupoCorreo
					label Correo electronico:
					div.FormularioInput
						input(type="email")
					p.FormularioError Error
				div.FormularioGrupo#GrupoContrasena
					label Contraseña:
					div.FormularioInput
						input(type="password")
					p.FormularioError Error
				div.FormularioGrupo#GrupoConfirmacionContrasena
					label Confirmar contraseña:
					div.FormularioInput
						input(type="password")
					p.FormularioError  Error
				div.BtnEnviar
					button.BtnFormulario(type="submit") Enviar
					p.Exito#MensajeDeExito Formulario enviado exitosamente!

		