extends layout

block content
    .container.row.col-fluid-12.mt-3.mx-auto
        h1.fw-bold Informacion de pago
        p Agregar o seleccionar tarjeta de credito o debito
            //- button.btn.btn-primary.rounded-5.mt-3(type='button' style='background-color: #212E46;')
            a.fw-bold.end-0(style='color: secondary') Ver todos
        .col-12.bg-secondary.p-2.rounded-4.mx-1(style='--bs-bg-opacity: 0.2')
            .row
                .col-4
                    svg.rounded.mx-auto.d-block(width='50px' height='50px' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                        path(d='M16.539 9.186a4.155 4.155 0 0 0-1.451-.251c-1.6 0-2.73.806-2.738 1.963-.01.85.803 1.329 1.418 1.613.631.292.842.476.84.737-.004.397-.504.577-.969.577-.639 0-.988-.089-1.525-.312l-.199-.093-.227 1.332c.389.162 1.09.301 1.814.313 1.701 0 2.813-.801 2.826-2.032.014-.679-.426-1.192-1.352-1.616-.563-.275-.912-.459-.912-.738 0-.247.299-.511.924-.511a2.95 2.95 0 0 1 1.213.229l.15.067.227-1.287-.039.009zm4.152-.143h-1.25c-.389 0-.682.107-.852.493l-2.404 5.446h1.701l.34-.893 2.076.002c.049.209.199.891.199.891h1.5l-1.31-5.939zm-10.642-.05h1.621l-1.014 5.942H9.037l1.012-5.944v.002zm-4.115 3.275.168.825 1.584-4.05h1.717l-2.551 5.931H5.139l-1.4-5.022a.339.339 0 0 0-.149-.199 6.948 6.948 0 0 0-1.592-.589l.022-.125h2.609c.354.014.639.125.734.503l.57 2.729v-.003zm12.757.606.646-1.662c-.008.018.133-.343.215-.566l.111.513.375 1.714H18.69v.001h.001z')
                .col-8.fw-bold.rounded-pill.btn-lg.fs-5.text-center
                    p.fw-bold.my-0.px-4.mt-2.text-center #### #### #### 5555
        .col-12.bg-secondary.p-2.rounded-4.mt-2.mx-1(style='--bs-bg-opacity: 0.2')
            .row
                .col-4
                    svg.rounded.mx-auto.d-block(width='50px' height='50px' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                        path(d='M16.539 9.186a4.155 4.155 0 0 0-1.451-.251c-1.6 0-2.73.806-2.738 1.963-.01.85.803 1.329 1.418 1.613.631.292.842.476.84.737-.004.397-.504.577-.969.577-.639 0-.988-.089-1.525-.312l-.199-.093-.227 1.332c.389.162 1.09.301 1.814.313 1.701 0 2.813-.801 2.826-2.032.014-.679-.426-1.192-1.352-1.616-.563-.275-.912-.459-.912-.738 0-.247.299-.511.924-.511a2.95 2.95 0 0 1 1.213.229l.15.067.227-1.287-.039.009zm4.152-.143h-1.25c-.389 0-.682.107-.852.493l-2.404 5.446h1.701l.34-.893 2.076.002c.049.209.199.891.199.891h1.5l-1.31-5.939zm-10.642-.05h1.621l-1.014 5.942H9.037l1.012-5.944v.002zm-4.115 3.275.168.825 1.584-4.05h1.717l-2.551 5.931H5.139l-1.4-5.022a.339.339 0 0 0-.149-.199 6.948 6.948 0 0 0-1.592-.589l.022-.125h2.609c.354.014.639.125.734.503l.57 2.729v-.003zm12.757.606.646-1.662c-.008.018.133-.343.215-.566l.111.513.375 1.714H18.69v.001h.001z')
                .col-8.fw-bold.rounded-pill.btn-lg.fs-5.text-center
                    p.fw-bold.my-0.px-4.mt-2.text-center #### #### #### 6666
        .col-12.bg-primary.p-2.rounded-4.mt-2.mx-1
                .row
                    .col-4
                        svg.bi.bi-plus-circle(xmlns='http://www.w3.org/2000/svg' width='33' height='33' fill='currentColor' viewbox='0 0 16 16')
                            path(d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z')
                            path(d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z')
                    .col-8.fw-bold.rounded-pill.btn-lg.fs-5.text-start Agregar tarjeta
        //- p(align='right')
        
    //- .container.py-5
    //-     h1.fw-bold Resumen del env&iacute;o
    //-     .row.d-flex.justify-content-center
    //-         .col-md-9.col-lg-7.col-xl-5
    //-             .card(style='background-color:rgba(255, 251, 239, 1);')
    //-                 .rounded-bottom
    //-                     .card-body
    //-                         .row
    //-                             .col-5.form-outline.mb-3
    //-                                 a.text-decoration-none.mb-1.px-1.mt-3.fw-bold(href='#' style='color: #212E46;' onclick='redirectRemi()') Remitente:
    //-                             .col.form-outline.mb-3(style='text-align: left;') Juan Daniel Del Valle
    //-                         .row
    //-                             .col-5.form-outline.mb-3
    //-                                 a.text-decoration-none.mb-1.px-1.mt-3.fw-bold(href='#' style='color: #212E46;' onclick='redirectDest()') Destinatario:
    //-                             .col.form-outline.mb-3(style='text-align: left;') Jose Rios Perez
    //-                         .row
    //-                             .col-5.form-outline.mb-3
    //-                                 a.text-decoration-none.mb-1.px-1.mt-3.fw-bold(href='#' style='color: #212E46;' onclick='redirectSize()') Tama&ntilde;o del locker:
    //-                             .col.form-outline.mb-3(style='text-align: left;') Mediano
    //-                         .row
    //-                             .col-5.form-outline.mb-3
    //-                                 a.text-decoration-none.mb-1.px-1.mt-3.fw-bold(href='#' style='color: #212E46;' onclick='redirectPlace()') Lugar de origen:
    //-                             .col.form-outline.mb-3(style='text-align: left;') Plaza Antenas
    //-                         .row
    //-                             .col-5.form-outline.mb-3
    //-                                 a.text-decoration-none.mb-1.px-1.mt-3.fw-bold(href='#' style='color: #212E46;' onclick='redirectPlace()') Lugar de destino:
    //-                             .col.form-outline.mb-3(style='text-align: left;') Plaza Garden
    //-                         .row
    //-                             .col-4.form-outline.mb-3
    //-                             .col-4.form-outline.mb-3
    //-                                 h2.fw-bold(style='color: #CAA400;') Costo:
    //-                             .col-4.form-outline.mb-3
    //-                                 h2.fw-bold(style='color: #212E46; text-align: left;') $100.00
    //- .row
    //-     .col.form-outline.mb-3
    //-     .col-10.form-outline.mb-3(style='color: #A8A8A8; text-align: center;')
    //-         p
    //-             | *Una vez confirmado el env&iacute;o se contar&aacute; con 24 horas
    //-             | para depositar el paquete en el locker, de lo contrario se
    //-             | cancelar&aacute; la solicitud y no habr&aacute; devoluci&oacute;n.
    //-     .col.form-outline.mb-3

    //- .d-grid.gap-2.col-6.mx-auto
    //-     button.btn.btn-primary.btn-lg.rounded-5.px-2.my-0.px-4(type='submit' style='background-color: #212E46;')
    //-         .fw-bold(style='color: #FFFFFF') Confirmar envio


block scripts
    script(src='/javascripts/validation.js')