extends layout

block content
.container
    h6.container.text-center.fs-4 Datos del paquete
    .row.col-fluid-12.rounded-4
        br
        br
        form.grupo.px-3.mb-3.needs-validation(novalidate='')
        label.form-label.mb-1.px-1.mt-3.fw-bold(for='validationCustom01') Altura (cm)
        input#validationCustom01.form-control.rounded-4(type='number' name='altura' placeholder='Ingrese la altura del paquete' required='')
        .invalid-feedback
            | Es necesario ingresar la altura del paquete
        label.form-label.mb-1.px-1.mt-3.fw-bold(for='validationCustom02') Ancho (cm)
        input#validationCustom02.form-control.rounded-4(type='number' name='altura' placeholder='Ingrese el ancho del paquete' required='')
        .invalid-feedback
            | Es necesario ingresar el ancho
        label.form-label.mb-1.px-1.mt-3.fw-bold(for='validationCustom03') Profundidad (cm)
        input#validationCustom03.form-control.rounded-4(type='number' name='Profundidad' placeholder='Ingrese la profundidad del paquete' required='')
        .invalid-feedback
            | Es necesario ingresar la profundidad
        label.form-label.mb-1.px-1.mt-3.fw-bold(for='validationCustom04') Peso (kg)
        input#validationCustom04.form-control.rounded-4(type='number' name='peso' placeholder='Ingrese el peso del paquete' required='')
        .invalid-feedback
            | Es necesario ingresar el peso del paquete
        .d-grid.gap-4
            .row.col-fluid.mt-1.mx-1
            button.btn.btn-primary.btn-lg.rounded-5.mt-3(type='submit' style='background-color: #212E46;')
                .fw-bold Continuar

block scripts
	script(src='/javascripts/validation.js')