extends layout

block content
	if user.type == 'ADMIN'
		| Admin Dashboard
	else if user.type == 'DELIVER'
		| Deliver Dashboard
	else if user.type == 'CLIENT'
		| Client Dashboard
	else
		| Usuario desconocido

block scripts
	script const user = !{JSON.stringify(user)}
	script(src='/javascripts/validation.js')