extends layout

block content
	.container
		if user.type == 'ADMIN'
			| Admin Dashboard
		else if user.type == 'DELIVER'
			.row(data-masonry='{"percentPosition": true }' style='position: relative; height: 690px;')
				.col-sm-6.col-lg-4.mb-4(style='position: absolute; left: 0%; top: 0px;')
					.card.text-bg-warning.text-center
						.card-body
							h5.card-title Ruta
							p.card-text No tienes ninguna ruta asignada de momento.
							p.card-text
								small.text-muted Last updated 3 mins ago
				
		else if user.type == 'CLIENT'
			| Client Dashboard
		else
			| Usuario desconocido

block scripts
	script const user = !{JSON.stringify(user)}
	script(src='/javascripts/validation.js')

