extends layout

block content
	.container
		if user.type == 'ADMIN'
			| Admin Dashboard
		else if user.type == 'DELIVER'
			.row(data-masonry='{"percentPosition": true }' style='position: relative; height: 690px;')
				.col-sm-6.col-lg-4.mb-4(style='position: absolute; left: 0%; top: 0px;')
					.card.text-bg-warning.text-center
						.card-body
							h5.card-title Ruta
							p.card-text No tienes ninguna ruta asignada de momento.
							p.card-text
								small.text-muted Last updated 3 mins ago
				
		else if user.type == 'CLIENT'
			| Client Dashboard
		else
			| Usuario desconocido

	.wrapper 
		-
			let datos = [
				{
				'stat_shpg': 'EN TRÁNSITO',
				'trk_shpg': '121212121212121212'
				},
				{'stat_shpg': 'EN TRÁNSITO',
				'trk_shpg': '121212121212121212'
				},
				{'stat_shpg': 'EN TRÁNSITO',
				'trk_shpg': '121212121212121212'
				},
				{'stat_shpg': 'EN TRÁNSITO',
				'trk_shpg': '121212121212121212'
				},
				{'stat_shpg': 'EN TRÁNSITO',
				'trk_shpg': '121212121212121212'
				},
			]

		each val in datos
			a.text-decoration-none(href='/panel/envio/detalles/'+val.trk_shpg)
				.item.row.d-flex.align-items-center.justify-content-center
					.col-4.p-0
						img.img-fluid.rounded-start(src='https://img.freepik.com/vector-premium/icono-vector-arte-linea-camion-entrega-envio-rapido-aplicaciones-sitios-web-transporte_652240-16.jpg')
					.col-8.p-0
						p.card-text.text-center.m-0.text-status= val.stat_shpg
						h6.card-title.card-text.text-center.text-secondary= val.trk_shpg
						small.text-muted Origen: 
						br
						small.text-muted Destino 
						br
						small.text-muted Última actualización:
						br
						small.text-muted 00:00 PM - 00/00/0000		 
		Hola


block scripts
	script const user = !{JSON.stringify(user)}
	script(src='/javascripts/validation.js')

