doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/stylesheets/style.css')
		title= title
	body
		main.d-flex.align-items-center.p-5.justify-content-center.h-auto
			div
				.row.pb-5.justify-content-center
					img(src="/images/sendiit.png")
				.row.mb-5
					form#formulario.form-floating.row.g-3(action="/identificacion" method="POST" autocomplete="on" onsubmit="return loginValidation(event)")
						div.form-floating.mb-3
							input.form-control(type="textd" id="floatingInput" name="email" placeholder="name@example.com")
							label(for="floatingInput") Correo electronico
							div.invalid-feedback No existe una cuenta con este correo 
						div.form-floating.mb-3
							input.form-control(type="password" id="floatingPassword" name="pwd" placeholder="Password")
							label(for="floatingPassword") Contraseña
							div.invalid-feedback Contraseña Incorrecta
						button(class="btn btn-primary" Type="submit") INICIAR SESIÓN
		//- script(src='/javascripts/bootstrap.min.js')