form.needs-validation(action='/identificacion' method='POST' novalidate)
	#passwordresetModal.modal.fade(tabindex='-1' aria-hidden='true')
		.modal-dialog.modal-dialog-centered.modal-dialog-scrollable
				.modal-content
					.modal-header
						h1.modal-title.fs-5 Restablecer Contraseña
						button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
					.modal-body
						| here goes the password reset form
					.modal-footer
						button.btn.btn-danger(type='reset' data-bs-dismiss='modal') Cancelar
						button.btn.btn-primary(type='submit') Iniciar sesión
