extends layout 

block content
    .container.py-5
        .row.d-flex.justify-content-center
            .col-md-9.col-lg-7.col-xl-5
                .card
                    .rounded-bottom
                        .card-body
                            p.mb-4 Your payment details
                            form.row.g-3.needs-validation(novalidate='')
                                .form-outline.mb-3
                                    label.form-label.mb-1.px-1.mt-3.fw-bold(for='validationNumber') Numero de tarjeta
                                    input#validationNumber.form-control.rounded-4(type='number' name='cardNumber' placeholder='XXXX-XXXX-XX12-3456' required='')
                                    .invalid-feedback
                                        | Es necesario ingresar un numero de trajeta valido
                                .form-outline.mb-3
                                    label.form-label.mb-1.px-1.mt-3.fw-bold(for='validationName') Nombre y Apellido
                                    input#validationName.form-control(type='text' name='cardName' placeholder='Juan Daniel' required='')
                                    .invalid-feedback
                                        | Es necesario ingresar un nombre valido
                                .row.mb-3
                                    .col-7
                                        .form-outline
                                            label.form-label.mb-1.px-1.mt-3.fw-bold(for='validationDate') Fecha de vencimiento
                                            input#validationDate.form-control(type='text' name='cardDate' placeholder='MM/YYYY' required='')
                                            .invalid-feedback
                                                | Es necesario ingresar una fecha valida
                                    .col-3
                                        .form-outline
                                            label.form-label.mb-1.px-1.mt-3.fw-bold(for='validationCVV') CVV
                                            input#validationCVV.form-control(type='text' name='cardCode' placeholder='CVV' required='')
                                            .invalid-feedback
                                                | Es necesario ingresar un codigo valido
                                .d-grid.gap-4
                                    .row.col-fluid.mt-1.mx-1
                                        button.btn.btn-primary.btn-lg.rounded-5.mt-3(type='submit' style='background-color: #212E46;')
                                            .fw-bold Continuar

block scripts
	script(src='/javascripts/validation.js')