extends layout

block content
    .bg-primary
        p.m-5.h1 Rastrear envio
    div(style='margin-left:10px')
    .process
        ul.StepProgress
            .StepProgress-item.is-done
                strong En espera de entrega
            .StepProgress-item.is-done
                strong En espera de recolección
                |     Got more entries that you love? Buy more entries anytime! Just hover on your favorite entry and click the Buy button
            .StepProgress-item.is-done
                strong En tránsito
            .StepProgress-item.is-done
                strong En espera de recepción
            .StepProgress-item.current
                strong Completado
            .StepProgress-item.current
                strong Cancelado
            .StepProgress-item.current
                strong Almacén





//- 1: “En espera de entrega para recolección” 
//- 2: “En espera de recolección” 
//- 3: “En tránsito” 
//- 4: “En espera de recepción del destinatario” 
//- 5: “Completado” 
//- 6: “Almacén” 
//- 7: “Cancelado”