extends layout

block content
    .bg-primary
        p.h1.title Rastrear envio
    div(style='margin-left:10px')
    .process
        ul.StepProgress
            .StepProgress-item.is-done
                strong En espera de entrega
                |   Fecha: 00/00/0000
                br   
                |   Hora:  00:00
            .StepProgress-item.is-done
                strong En espera de recolección
                |   Fecha: 00/00/0000
                br   
                |   Hora:  00:00
            .StepProgress-item.is-done
                strong En tránsito
                |   Fecha: 00/00/0000
                br   
                |   Hora:  00:00
            .StepProgress-item.is-done
                strong En espera de recepción
                |   Fecha: 00/00/0000
                br   
                |   Hora:  00:00
            .StepProgress-item.current
                strong Completado
            .StepProgress-item.current
                strong Almacén
            .StepProgress-item.current
                strong Cancelado





//- 1: “En espera de entrega para recolección” 
//- 2: “En espera de recolección” 
//- 3: “En tránsito” 
//- 4: “En espera de recepción del destinatario” 
//- 5: “Completado” 
//- 6: “Almacén” 
//- 7: “Cancelado”