form.needs-validation(action='/identificacion' method='POST' novalidate)
	#signupModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
		.modal-dialog.modal-dialog-centered.modal-dialog-scrollable
				.modal-content
					.modal-header
						h1#exampleModalLabel.modal-title.fs-5 Crea una cuenta
						button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
					.modal-body
						.form-floating.mb-3
							input#nmInputSignup.form-control(type='text' placeholder='name@example.com' required)
							label(for='nmInputSignup') Nombre
							.invalid-feedback Ingresa tu nombre completo
						.form-floating.mb-3
							input#emInputSignup.form-control(type='email' placeholder='name@example.com' required)
							label(for='emInputSignup') Correo electrónico
							.invalid-feedback Ingresa tu correo
						.form-floating.mb-3
							input#telInputSignup.form-control(type='tel' placeholder='name@example.com' required)
							label(for='telInputSignup') Teléfono
							.invalid-feedback Ingresa tu telefono
						.form-floating.mb-3
							input#pwdInputSignup.form-control(type='password' placeholder='********' required)
							label(for='pwdInputSignup') Contraseña
							.invalid-feedback Ingresa tu contraseña
						.form-floating.mb-3
							input#pwdvInputSignup.form-control(type='password' placeholder='********' required)
							label(for='pwdvInputSignup') Confirmar Contraseña
							.invalid-feedback Ingresa la confirmación de tu contraseña
						.mb-3.form-check
							input#termInputSignup.form-check-input(type='checkbox' required)
							label.form-check-label(for='termInputSignup') 
								| Acepto los 
								a(href="#") 
									| Términos y Condiciones
							.invalid-feedback Necesitas aceptar los términos y condiciones
					.modal-footer
						button.btn.btn-danger(type='reset' data-bs-dismiss='modal') Cancelar
						button.btn.btn-primary(type='submit') Crear Cuenta
