header.container.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-md-between.py-3.mb-0.border-bottom
	include logo
	ul.nav.col-12.col-md-auto.mb-2.mb-md-0.justify-content-center
		li
			a.nav-link.px-2.link-secondary(href='#') Home
		li
			a.nav-link.px-2.link-dark(href='#') Features
		li
			a.nav-link.px-2.link-dark(href='#') Pricing
		li
			a.nav-link.px-2.link-dark(href='#') FAQs
		li
			a.nav-link.px-2.link-dark(href='#') About
	.col-md-3.text-end
		button.btn.btn-outline-primary.me-2(type='button') Login
		button.btn.btn-primary(type='button') Sign-up